*.o
*.d
*.lst
*.scvd
*.out
*.uvgui*.*
~*

archive.zip

sources/TwoSensors/Listings/
sources/TwoSensors/Objects/
sources/TwoSensors/Listings-Debug/
sources/TwoSensors/Objects-Debug/
sources/TwoSensors/DebugConfig/

sources/MultiSensors/Listings/
sources/MultiSensors/Objects/
sources/MultiSensors/Listings-Debug/
sources/MultiSensors/Objects-Debug/
sources/MultiSensors/DebugConfig/

sources/generated/
